@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    
}

html, body{
    overflow-x: hidden;
}

::selection {
    color: #fff;
    background: #C78E00;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #C78E00;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* background imgs section */

.container-home {
    background-image: url(./assets/backgroundHome.png);
    background-size: cover;
    height: 100vh;
}

.container-info {
    background-image: url(./assets/backgroundInfo.png);
    background-size: cover;
    height: 100vh;
}

.container-about {
    background-image: url(./assets/backgroundabout.png);
    background-size: cover;
    height: 100vh;
}

.container-adotar {
    background-image: url(./assets/backgroundadotar.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container-exp {
    background-image: url(./assets/backgroundexp.png);
    background-size: cover;
    height: 100vh;
}

.gradient {
    background-image: url(./assets/gradient.png);
    position: fixed;
    height: 100vh;
}

/* navbar */

header {
    transition: 0.3s;
}

header.sticky {
    background-color: #091E3E;
}

.navbar {
    display: flex;
    height: 90px;
    background-color: transparent;
    padding: 0px 130px 0px 130px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.navbar a, i{
    font-weight: 800;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 5px;
    transition: 0.6s;
}

.navbar a:hover {
   color: #C78E00;
}

.navbar #adotar {
    padding: 18px;
}

.logo {
    height: 50px;
    cursor: pointer;
}

#btnAdotar {
    padding: 10px;
    margin-left: 10px;
    border: 4px solid white;
    border-radius: 8px;
}

#btnAdotar:hover {
    background-color: white;
    border: 4px solid white;
    color: #0D2141;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* menu mobile */
#mobile-menu {
    display: none !important;
}

/* navbar menu */
#checkbox2 {
    display: none;
}

.toggle2 {
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 10px;
}

#bar5 {
    transition-duration: .8s;
}

#bar4,
#bar6 {
    width: 80%;
}

#checkbox2:checked+.toggle2 .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox2:checked+.toggle2 #bar5 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox2:checked+.toggle2 #bar4 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox2:checked+.toggle2 #bar6 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox2:checked+.toggle2 {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.home {
    height: 100vh;
    margin: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: end;
    justify-content: center;
    gap: 2;
}

.home img {
    height: 100vh;
    animation: slide 1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-100%);
}

.hero-text{
    animation: fadeSlideIn 1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-50%);
}

.hero-text p {
    padding: 10px 0px 10px 0;
    font-weight: 200;
    transition: 0.5s;
}

.hero-text h1, p {
    max-width: 400px;
    color: #E6E6E6;
}

.hero-text h1 {
    font-size: 50px;
}

.buttonHome {
    background-color: #C78E00;
    border: none;
    color: #091E3E;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid #C78E00;
}

.buttonHome:hover {
    background-color: transparent;
    color: white;
    border: 2px solid #C78E00;
}

.buttonHome2 {
    background-color: transparent;
    border: 2px solid #C78E00;
    color: #E6E6E6;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 700;
}

.buttonHome2:hover {
    background-color: #C78E00;
    color: #091E3E;
}

#socials {
    display: inline-flex;
    align-items: center;
    transition: 0.3s;
}

#socials p{
    font-weight: 400;
}

#socials:hover i,
#socials:hover p {
    color: #C78E00;
}

.container-info{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* info page */

.cards{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 285px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards img{
    width: 90px;
    padding: 20px;
}

.card-content {
    background-color: #DDDDDD;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card-content:hover{
    transform: scale(1.1);
    background-color: #C78E00;
    color: #fff;
    cursor: pointer;
}

.card-content:hover img{
    filter: invert(100%);
    animation: jumpAnimation 0.6s infinite alternate; 
}

.card-content p{
    padding: 5px;
    color: #353535;
    font-size: 15px;
    font-weight: 500;
    max-width: 280px;
}

.card-content p span{
    color: #000;
}

/* about section */

.about{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.about img{
    height: 5vw;
}

.about h1{
    font-size: 50px;
    font-weight: 800;
    color: white;
    padding: 0 0 20px 0;
}

.about h1 span{
    color:#C78E00 ;
}

.about p{
    color:#E6E6E6;
    font-weight: 500;
    font-size: 18px;
}

.about p span{
    color:#ffffff;
}

.adotpets{
    padding: 20px 0 0 0 ;
}

/* adotar section*/

.adotar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adotar h1{
    color: #C78E00;
    font-size: 40px;
    padding: 40px;
}

.buttonadotar {
    background-color:#091E3E;
    color: #ffffff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 700;
}

.buttonadotar:hover {
    background-color: #C78E00;
    color: #091E3E;
}

/* experience and photos section */

.exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exp h1{
    color: #091E3E;
    font-size: 35px;
    font-weight: 700;
    padding: 100px 0 50px 0;
}

#left, #right{
    color: #000;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin: auto;
}

/* carousel buttons */
.wrapper i {
    top: 50%;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #DDDDDD;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}
/* carousel structure */
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .card {
    scroll-snap-align: start;
    height: 442px;
    list-style: none;
    background: #DDDDDD;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.card{
    transition: background-color 0.2s ease-in;
}

.card:hover{
    background-color: #C78E00;
    cursor: pointer;
}

.card:hover span{
    color: #000!important;
}

.card .img img {
    width: 300px;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}
.carousel .card span {
    color: #6A6D78;
    font-size: 1rem;
    max-width: 250px;
}

/* footer */
footer{
    background-color:#C78E00;
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 800px;
}

.footer-content p, a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.footer-content p:hover{
    color: white;
}

.footer-content h1{
    font-size: 25px;
    padding: 10px 0 10px 0;
}

.footer-content p, a {
    font-size: 18px;
    font-weight: 500;
}

#socials-footer {
    font-size: 30px;
    color: black;
    padding: 0px 8px 0px 0px;
}

#socials-footer:hover{
    color: white;
}

#text-footer{
    color: #000;
    font-weight: 500;
}

.footer-bottom{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* animations */

@keyframes slide {
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes fadeSlideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20%);
    }
}

/* media queries */

@media screen and (max-width: 980px){

    /* NavBar */

    .navbar {
        padding: 0px 30px 0px 30px;
    }

    /* Home section */
    .home{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 30px;
    }

    .home img{
        display: none;
    }

    .hero-text h1 {
        font-size: 55px;
    }

    .hero-text p {
        font-weight: 500;
        transition: 0.5s;
        font-size: 20px;
    }

    .buttonHome {
        background-color: #182737;
        color: #fff;
    }

    .buttonHome:hover {
        background-color: #C78E00;
        color: #091E3E;
    }

    .buttonHome2 {
        border: 2px solid #182737;
    }

    #socials:hover i,
    #socials:hover p {
        color: #182737;
    }

    /* info page */

    .container-info{
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-auto-rows: 285px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    /* about page*/

    .container-about{
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about img{
        height: 50vw;
    }

    .about h1{
        font-size: 40px;
    }

    .about p{
        font-size: 18px;
    }

    /* experience and photos page */

    .exp{
        padding: 30px;
    }

    .card .img img {
        width: 60%;
    }

    /* adotar page */

    .container-adotar{
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .adotar{
        display: flex;
        align-items: center;
        justify-content: start;
        height: 500px;
    }

    .adotar h1{
        font-size: 30px;
        padding: 0px 0px 40px 0px;
    }

    .buttonadotar {
        background-color:#091E3E;
        color: #ffffff;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition-duration: 0.4s;
        cursor: pointer;
        font-weight: 700;
    }

    .buttonadotar:hover {
        background-color: #C78E00;
        color: #091E3E;
    }

    /* footer */

    .footer-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        gap: 15px;
        max-width: 800px;
    }

    .footer-content h1{
        font-size: 25px;
        padding: 10px 0 10px 0;
    }

    .footer-content p, a {
        font-size: 18px;
        font-weight: 500;
    }

    

}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }

@media screen and (max-width: 700px) {

    /* info page */

    .cards{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-auto-rows: 285px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


} 

@media screen and (max-width: 650px) {

    /* NavBar */

    #logoDesktop {
        display: none;
    }

    #mobile-menu {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 2;
    }

    .bars {
        background-color: #fff;
    }

    .menu {
        display: none!important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height:70vh;
        background-color: #091E3E;
    }

    .menu.show{
        display: flex!important;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .menu-items li{
        padding: 20px;
    }

    .menu-items a{
        font-size: 30px;
    }

}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media screen and (max-width: 385px) {
    /* home page */

    .container-home{
        height: 100%;
    }

    .home{
        padding-top: 100px;
    }

    /* info paage */

    .cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;
    }

    /* about page */

    .about img{
        height: 40vw;
    }

    /* footer */

    .footer-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
        gap: 15px;
        max-width: 800px;
    }
}